body{
    background-color: #00203FFF;
    color: #ADEFD1FF;
  }
hr{
  border-style: none;
  border-top-style: dotted;
  border-color:grey;
  border-width: 5px;
  width: 1%;
}  
h1{
  width: 81%;
  
  color: #DAA03DFF;
}
h3{
  color: #66bfbf;
}
h2{
  color: #66bfbf;
}
